@tailwind base;
@tailwind components;
@tailwind utilities;

.tile {
  border: solid 1px rgb(73, 67, 80);
}

.placeHoverLegal {
  background-color: rgb(90, 173, 224);
}

.placeHoverIllegal {
  background-color: lightcoral;
}

.shipPlaced {
  background-color: lightgreen;
}

.playerShipPlaced {
  background-color: lightgreen;
}

.isHit {
  background-color: lightcoral;
}

.isSunk {
  background-color: rgb(238, 52, 52);
}

.isMiss {
  background-color: lightgray;
}

.isHit,
.isMiss {
  pointer-events: none;
}

.placementTile,
.playerTile,
.botTile {
  border: solid 1px rgb(73, 67, 80);
}

.botTile:not(isMissed):not(isMissed):not(isSunk):hover {
  background-color: rgb(90, 173, 224);
}

#botBoardDiv::before,
#playerBoardDiv::before {
  padding-top: 100%;
}
