@tailwind base;
@tailwind components;
@tailwind utilities;

.tile {
  border: solid 1px rgb(73, 67, 80);
}

.tile:hover {
  background-color: #64748b;
}

.placeHoverLegal {
  background-color: blue;
}

.placeHoverIllegal {
  background-color: red;
}

.shipPlaced {
  background-color: forestgreen;
}
